@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Roboto';
}

.page {
	margin-bottom: 76px;

	display: flex;
	flex-direction: column;

	@apply gap-6;
}

.page-title {
	@apply p-3 text-2xl text-center border-b lg:text-3xl lg:text-left font-bold;
}

.page-subtitle {
	@apply p-2 text-xl font-semibold;
}

.header {
	@apply text-left text-xl font-medium;
}

.input,
select {
	@apply w-full mb-3;
}
